<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <link rel="stylesheet" href="styles/main.css" />
  <title>Todoey</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="./functions.js" charset="UTF-8"></script>
</head>
<body>
  <header>
    <%- include("partials/header.ejs") %>
  </header>
  <main>
    <div class="box" id="heading" bis_skin_checked="1">
      <h1>
        Work List
      </h1>
    </div>
    <div class="box" bis_skin_checked="1">
      <div class="item" bis_skin_checked="1">
        <input type="checkbox">
        <p>
          faawfafawgawga
        </p>
      </div>
      <div class="item">
        <input type="checkbox">
        <p>
        </p>
      </div>
      <% for (let item of items) { %>
        <div class="item" bis_skin_checked="1">
          <input type="checkbox">
          <p><%= item %></p>
        </div>
        <% } %>
        <form class="item" action="/" method="post">
          <input type="text" name="newItem" placeholder="New Item" autocomplete="off" />
          <button type="submit" name="list" value="Work List">+</button>
        </form>
    </div>
  </main>

  <footer>
    Copyright © 2023
  </footer>
</body>
</html>
